/** @format */

@import url("https://fonts.googleapis.com/css2?family=Sansita&display=swap");

body {
    background-color: rgb(255, 255, 255);
    font-family: "Sansita", sans-serif !important;
}

.cuadroCompleto {
    gap: 0.1% 0px;
    margin: 1% auto;
    color: #fff;
    font-weight: 500 !important;
    text-align: center;
    justify-content: center;
    max-width: 900px;
    min-width: 900px;
}

.tituloCuadro {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    border: 1px solid #fff;
    font-size: calc(16px + 0.5vw) !important;
    font-weight: 700 !important;
    border-radius: 0.5rem !important;
    padding: 1%;
}

.titulosPartidos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    font-family: "Sansita", sans-serif;
    border: 1px solid #fff;
}

.titulosPartidos > div {
    /* font-size: calc(10px + 0.4vw); */
    font-size: 14px;
    padding: 0.2rem;
}
.tituloMedio {
    min-width: 34vh;
}
.tituloJugadores {
    min-width: 97px;
    width: 97px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}
.filaPartido {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    font-family: "Sansita", sans-serif;
}

.filaPartido > div {
    border: 1px solid #fff;
    font-size: 12px;
    /* font-size: calc(10px + 0.2vw); */
    padding: 0.2rem;
}

.fecha {
    min-width: 10vh;
}

.local {
    min-width: 10vh;
    border-right: 0px !important;
}
.icoLocal {
    min-width: 3vh;
    border-left: 0px !important;
}

.imgIco {
    max-width: 100%;
    height: auto;
}

.resLocal {
    min-width: 3vh;
    background-color: #a5a5ac !important;
}
.resMedio {
    align-items: center;
    align-content: center;
    min-width: 1vh;
}
.resVisitante {
    min-width: 3vh;
    background-color: #a5a5ac !important;
}
.icoVisitante {
    min-width: 3vh;
    border-right: 0px !important;
}
.visitante {
    min-width: 10vh;
    border-left: 0px !important;
}
.jugadores {
    min-width: 97px;
    width: 97px;
}

.solapa1 {
    /* background-color: #0a8910; */
    background-color: #050031e0;
}
.solapa2 {
    background-color: #390131;
}
.solapa3 {
    background-color: #1800ac;
}
.solapa4 {
    background-color: #f23e3b;
}
.solapa5 {
    background-color: #d6b44f;
}
.solapa6 {
    background-color: #4f88d6;
}
.solapa7 {
    background-color: #f03e17;
}
.solapa8 {
    background-color: #8f06a1;
}

.ultimaActualizacion {
    text-align: center;
    justify-content: center;
    font-size: 14px;
}

.imgIcoPronosticos {
    width: 12px;
    margin: 3px;
    height: auto;
}

.tablaColores {
    display: grid;
    grid-template-columns: 0.4fr 1.5fr 0.4fr 1.5fr 0.4fr 1.5fr 0.4fr 1.5fr 0.4fr 1.5fr 0.4fr 1.5fr 0.4fr 1.5fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    justify-content: center;
    max-width: 500px;
    min-width: 500px;
    gap: 0.1% 0px;
    margin: 1% auto;
    padding-left: 20px;
    font-size: 12px;
}

.filaColores {
    padding-left: 5px;
}

.mascincoColor {
    background: #d5385a;
}

.cincoColor {
    background: #5ec448;
}
.cuatroColor {
    background: #9e4ac7;
}
.tresColor {
    background: #1d8919;
}
.dosColor {
    background: #0070c0;
}
.unoColor {
    background: #595959;
}
.ceroColor {
    background: #000;
}
