/** @format */

@import url("https://fonts.googleapis.com/css2?family=Sansita&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
main {
    margin: 0;
}
body {
    background-color: rgb(255, 255, 255);
    font-family: "Sansita", sans-serif;
    display: grid;
    min-height: 96vh;
    grid-template-rows: auto 1fr auto;
    /* margin-top: 50px; */
}
.Padre {
    display: flex;
    flex-direction: row;
}

.mitad1 {
    /* width: 58%; */
    /* margin-left: 5px; */
}
.mitad2 {
    width: 550px;
    margin-left: 5px;
    /* display: flex; */
    flex-wrap: wrap;
    /* align-content: flex-start; */
    /* justify-content: flex-start; */
}

.cuadroCompleto {
    gap: 0.1% 0px;
    /* margin: 1% auto; */
    margin: 1%;
    color: #fff;
    font-weight: 500 !important;
    text-align: center;
    justify-content: center;
    max-width: 670px;
    min-width: 670px;
    background-color: darkblue;
}

.tituloCuadro {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    border: 1px solid #fff;
    font-size: 18px !important;
    font-weight: 700 !important;
    border-radius: 0.5rem !important;
    padding: 1%;
}

.titulosPartidos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    font-family: "Sansita", sans-serif;
    border: 1px solid #fff;
}

.titulosPartidos > div {
    /* font-size: calc(10px + 0.4vw); */
    font-size: 12px;
    padding: 0.2rem;
}
.tituloMedio {
    min-width: 34vh;
}
.tituloJugadores {
    min-width: 5vh;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}
.filaPartido {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    font-family: "Sansita", sans-serif;
}

.filaPartido > div {
    border: 1px solid #fff;
    font-size: 14px !important;
    /* font-size: calc(10px + 0.2vw); */
    padding: 0.2rem;
    display: flex;
    height: 4vh;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: normal;
    justify-content: space-around;
    align-items: center;
}

.fecha {
    width: 110px;
}
.hora {
    width: 44px;
}
.local,
.visitante {
    width: 112px;
    border-left: 0px !important;
    border-right: 0px !important;
    font-size: 16px !important;
}
.icoLocal,
.icoVisitante {
    width: 40px;
    border-left: 0px !important;
    border-right: 0px !important;
}

.imgIco {
    max-width: 100%;
    height: auto;
}
.resLocal,
.resVisitante {
    width: 34px;
    font-weight: 600;
    font-size: 12px !important;
}
.resul {
    background-color: #a5a5ac !important;
}
.resMedio {
    align-items: center;
    align-content: center;
    width: 15px;
}

.extendido {
    width: 34px;
}
.resultado {
    width: 50px;
    border-left: 0px !important;
}

.puntos {
    width: 40px;
    border-left: 0px !important;
}

.divFlechas {
    width: 26px;
    min-width: 26px;
}

.flechas {
    width: 100% !important;
}

#extSelect {
    -webkit-appearance: none;
    background-color: #f0f0f0;
    width: 2vw;
    text-align: center;
}

.solapa0 {
    background-color: #380031;
}
.solapa1 {
    background-color: #e65f19;
}
.solapa2 {
    background-color: #1d6ab4;
}
.solapa3 {
    background-color: #7a7779;
}
.solapa4 {
    background-color: #842029;
}
.solapa5 {
    background-color: #26a39b;
}
.solapa6 {
    background-color: #4b2f8a;
}
.solapa7 {
    background-color: #9c0015;
}
.solapa8 {
    background-color: #00374c;
}
.solapa9 {
    background-color: #52092e;
}
.solapa10 {
    background-color: #7a2a86;
}
.solapa11 {
    background-color: #d4b454;
}
.solapa12 {
    background-color: #148dde;
}

/* Tabla de posiciones por grupo */
.tablaPosCompleta {
    gap: 0.1% 0px;
    margin-top: 8px;
    margin-left: 8px;
    color: #fff;
    font-weight: 500 !important;
    text-align: center;
    justify-content: center;
    max-width: 540px;
    min-width: 540px;
    margin-bottom: 106px;
}

.titulosTabla {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    font-family: "Sansita", sans-serif;
    border: 1px solid #fff;
}
.titulosTabla > div {
    font-size: 14px;
    padding: 0.2rem;
}
.tablaEquipo {
    width: 120px;
}
.tablaPuntos {
    width: 50px;
    background-color: gray;
}
.tablaPuntajes {
    width: 40px;
}

.filaTabla {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    font-family: "Sansita", sans-serif;
    border: 1px solid #fff;
}

.filaTabla > div {
    font-size: 16px;
    padding: 0.1rem;
}

@media screen and (max-width: 600px) {
    .tablaPosCompleta {
        margin-bottom: 90px;
    }
}
